static/stanza_resources/ta/pretrain/fasttextwiki.pt filter=lfs diff=lfs merge=lfs -text
static/stanza_resources/ta/pretrain/ttb.pt filter=lfs diff=lfs merge=lfs -text
static/stanza_resources/te/pretrain/fasttextwiki.pt filter=lfs diff=lfs merge=lfs -text
